# pep8
## pep8
### pep8

In [4]:
3+8

11

In [6]:
isim="isim1"
print(isim)

isim1

In [6]:
a=520
b=387
print(a*b)

201240

In [5]:
a="benim adim"
b="isim"
c="degil"
print(a,b,c)

benim adim isim degil

In [2]:
yasiniz = 37
yil = 2025
dt = yil - yasiniz
print(dt)
print("Dogum tarihiniz ", dt, "tir.")

1988
Dogum tarihiniz  1988 tir.

In [3]:
isim="isim"
yas=37
yas=58 #en son degisken hangisi ise onu yazdirir.
print(isim,"un yasi", yas,"tir.")  #eger yas degerini printden sonra yazarsak hata verir.

isim un yasi 58 tir.

In [4]:
name1="isim1"
name_2="isim2"
name3="isim3"  #degisken isimleri sayi,isaretlerle ve - ile calismaz.

In [7]:
name1="isim"
print(name1) #eger kucuk harfle tanimladiysam buyuk harfle tanimaz.

isim

In [8]:
name1="isim1"
name2="isim2"
age_1=20
age_2=10
print(name1,"in yasi",age_2,name2,"in yasi",age_1) #degiskenlere dikkat etmeliyiz.

isim1 in yasi 10 isim2 in yasi 20

In [9]:
name1,name2="isim1","isim2" #3. isme degisken tanimlamadigimiz icin hata veriyor
age1,age2,age3=20 #yasta da ayni sekilde
print(name1,name2,age1,age2)

TypeError: cannot unpack non-iterable int object

In [26]:
age1=age2=age3=20 
print(age1)

20

In [41]:
nisan=haziran=eylul=kasim=30
ocak=mart=mayis=temmuz=agustos=ekim=aralik=31
subat=28
print("bu ay",subat,"ceker.")

bu ay 28 ceker.

In [50]:
x=3 #tamsayilar integer tipidir
y="whatabi" #tirnak ici ifade string tipidir.
z=3.14  #ondalik sayilar float tipidir
print(type(x))
print(type(y))
print(type(z))
print(type(False)) #boolean degeri False ve True dir.

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [66]:
model="volvo"
yas=3
km=70.25
kaza_durumu=True
print(type(model))
print(type(yas))
print(type(km))
print(type(True))
print("Benim", model,"modelinde",yas,"yasinda",km,"km.de",kaza_durumu, "durumunda arabam var.")

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
Benim volvo modelinde 3 yasinda 70.25 km.de True durumunda arabam var.

In [73]:

y=7.8 # x ifadesini sildikten sonra hala ayni sonucu verdi. del x komuduyla x i silmis oluyor
print(x)  #(ustun devami)ve hata veriyor
del x    # ramde olup olmadigini kontrol ediyoruz 
print(x)

NameError: name 'x' is not defined

In [81]:
age=35
print(type(age))
print(age+age)

age=str(age)  #age i str ifadeye cevirdik 
print(type(age))   

print(age+age)

<class 'int'>
70
<class 'str'>
3535

In [83]:
age=35
print(type(age))
print(age+age)

age=float(age) #age i float a donusturduk yani ondalikli sayiya 
print(type(age))
print(age+age)

<class 'int'>
70
<class 'float'>
70.0

In [93]:
age=35.9
print(type(age))   
print(age+age)

age=int(age)   #int e yani tam sayiya ceviriyoruz. yani virgulden sonraki sayiyi tamamiyle atiyor
print(type(age))
print(age+age)

<class 'float'>
71.8
<class 'int'>
70

In [4]:
yil=2025
yas="34.3"     #noktali str sayiyi direk int e cevirmiyor. ilk float sonra int ceviriyor 
yas=float(yas)    #tam sayi olsaydi direk int e cevirebiliriz. 
dy = yil-int(yas)
print("dogdugu yil",dy)

dogdugu yil 1991

In [15]:
# aritmatik operatorler
#islem onceligi parantez ici, uslu sayilar, bolme carpma, toplama cikarma
a=int(35/7)   #bolme islemlerinin hepsinin float olarak cikarir.(5.0 olarak yazar)
print(type(a))   # int e cevirmeliyiz

<class 'float'>

In [21]:
a=40//11  #// iki bolme islemi sonucu int e cevirir. sonuc a=3 olark cikar. 40 in icinde kac tane 11 var a bakiyoruz 
print(type(a))

<class 'int'>

In [23]:
a=40%11 # bolumunden kalani gosterir sonuc 7. tipi de int dir 
print(a)
print(type(a))

7
<class 'int'>

In [35]:
print(5**2)  # karesini almak icin 
print(5**3) # kupunu almak icin
pow(5,3)   # buda ayni islemi . pyhton in kutuphanesindeki ifade

print((25**(1/2)))  #float olarak yazdirdi. 

pow(125,1/3) #float olarak yazdirdi

25
125
5.0

5.0

In [40]:
r=9
alan=(3.14)*(r**2)  # yaricapi 9cm olan dairenin alani
print(int(alan)) #sonucu int e cevirdik.

254

In [42]:
tabankenaruzunlugu=a=5  #ucgenin alanini bul cm den m ye cevir
yuksekligi=b=10
alan=((a*b)/2)/10000 
print(alan)

0.0025

In [46]:
a=8  #kenar uzunluklari a ve b olan dikdortgenin alanini hesapla
b=5
alan=a*b
print("dikdortgenin alani",alan,"cm**2")

dikdortgenin alani 40 cm**2